body{
    background-color:#FFB8BE;
}

header{
    /* border: 1px dotted red; */
    font-family: 'georgia';
    /* color:#363636; */
    text-align: center;
    
}

header a{
    color:#363636;
    text-decoration: none;
}

header a:hover{
    color:#363636;
    text-decoration: none;
}






/* NAV */
nav{
    /* border: 1px dotted yellow; */
    /* display:flex; */
    padding:0;
    margin:0;
}

nav ul{
    /* border: 1px dotted red; */
    justify-content: center;
    display: flex;
    padding: 0;
}

nav li{
    /* border: 1px dotted green; */
    list-style-type: none;
    padding: 3%;
    font-size:1.3em;
}

nav li a{
    color:#363636;
    text-decoration: none;
    font-family:arial;
}

nav li a:hover{
    color:black;
}
/* NAV end */

.def{
    /* border: 1px solid blue; */
    color:#363636;
    font-family: georgia;
    padding-left: 10%;
    padding-right:10%;
}








footer{
    border:1px solid red;
    font-family: arial;
    text-align: center;
    color:#363636;
}

footer ul{

    padding:0;
}

footer li{
    list-style-type: none;
    padding: 1%;

}

footer li a{
    text-decoration: none;
    color:#363636;
}

footer li a:hover{
    color:black;
}